@font-face {
    font-family: 'Shopping Script';
    src: url('../zhaend-shopping/shopping_script_demo.woff2') format('woff2'),
         url('../zhaend-shopping/shopping_script_demo.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Crayon Zhaend';
    src: url('DK-Crayon-Crumble.woff2') format('woff2'),
         url('DK-Crayon-Crumble.woff') format('woff');
    font-display: swap;
}

.font-script  { font-family: 'Shopping Script', cursive; }
.font-vintage { font-family: 'Vintage', serif; }
