@font-face {
    font-family: 'Gerlyonz Jimakes';
    src: url('Gerlyonz_Jimakes.woff2') format('woff2'),
        url('Gerlyonz_Jimakes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
