@font-face {
  font-family: 'Jack Martine';
  src:
    url('JackMartine.woff2') format('woff2'),
    url('JackMartine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
