@font-face {
    font-family: 'Ripley Zhaend';
    src: url('Ripley-Light.woff2') format('woff2'),
        url('Ripley-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
