@font-face {
    font-family: 'Gerlyonz Jimakes';
    src: url('Gerlyonz-Jimakes.woff2') format('woff2'),
        url('Gerlyonz-Jimakes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hamstedam';
    src: url('Hamstedam.woff2') format('woff2'),
        url('Hamstedam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ripley Zhaend';
    src: url('Ripley-Light.woff2') format('woff2'),
        url('Ripley-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
